In [28]:
#!pip install "cloud-sql-python-connector[pymysql]"
#!pip install sqlalchemy
#!pip install mysql-connector-python

In [2]:
import sqlite3
from google.cloud import storage 
import pandas as pd
import numpy as np
from datetime import datetime
import mysql.connector
import sys
from cred import MYSQL_PASSWORD

In [3]:
#### Establish Connetion ####

connection = mysql.connector.connect(
    user='root', 
    password=MYSQL_PASSWORD, 
    host='34.30.80.103',
    database='mercari_db')

cursor = connection.cursor()

In [4]:
# Execute your query
query1 = "SELECT * FROM testing_holdout LIMIT 10"
cursor.execute(query1)

# Fetch column names
column_names = [i[0] for i in cursor.description]

# Create a DataFrame from the query result
frame = pd.DataFrame(cursor.fetchall(), columns=column_names)

# Close cursor and connection
cursor.close()
connection.close()

# Display the DataFrame
frame.head()

,id,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description,is_migrated
0,1,530625,Kate Spade Sunglasses,2,Women/Women's Accessories/Sunglasses,Kate Spade,40.0,0,Kate Spade Cat Eye Sunglasses. Color black wit...,0
1,2,876172,Faux piercings ⚡️,1,Handmade/Jewelry/Jewelry,,4.0,1,Faux Nose Rings!! •Now you can look stylish wi...,0
2,3,919501,Women's Columbia Jacket,2,Women/Athletic Apparel/Jackets,Columbia,30.0,0,"Women's black, medium Columbia Jacket. Excelle...",0
3,4,820303,Doctor Strange #166,3,Vintage & Collectibles/Book/Comics,,10.0,1,No description yet,0
4,5,186019,iPhone 5s waterproof case,3,"Electronics/Cell Phones & Accessories/Cases, C...",,10.0,1,Blue iPhone 5s/5c/5 case good condition. Teste...,0

In [44]:
# https://stackoverflow.com/questions/73493052/how-to-connect-to-cloud-sql-using-python